@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

@import "_app-variables";

.empty-view {
  color: #ccc;
  text-align: center;
  padding-top: 25vh;

  i {
    display: block;
    margin: 0 auto 12px auto;
    font-size: 60px;
  }
}
