<head>
  <title>Tinder for X</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>

<body>
  <div id="app"></div>
</body>

<!--
{{#ionBody}}
  {{> ionNavBar}}

  {{#ionNavView}}
    {{> yield}}
  {{/ionNavView}}

  {{#if isAndroid}}
    {{#ionTabs style="android"}}
      {{> ionTab title="Home" path="home" icon="ios-book" modal="collegeSelectModal"}}
      {{> ionTab title="Tab2" path="tab2" icon="ios-bell"}}
      {{> ionTab title="Tab3" path="tab3" icon="ios-bolt-outline"}}
      {{> ionTab title="Settings" path="settings" icon="ios-gear"}}
    {{/ionTabs}}
  {{else}}
    {{#ionTabs style="ios"}}
      {{> ionTab title="Home" path="home" iconOff="ios-book-outline" iconOn="ios-book" class="tab-item-positive"}}
      {{> ionTab title="Tab2" path="tab2" iconOff="ios-bell-outline" iconOn="ios-bell" class="tab-item-positive"}}
      {{> ionTab title="Tab3" path="tab3" iconOff="ios-bolt-outline" iconOn="ios-bolt" class="tab-item-positive"}}
      {{> ionTab title="Settings" path="settings" iconOff="ios-gear-outline" iconOn="ios-gear" class="tab-item-positive"}}
    {{/ionTabs}}
  {{/if}}

{{/ionBody}} -->

<!-- <template name="home">

  {{#contentFor "headerTitle"}}
    <h1 class="title">Home</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#ionItem}}
        <p>Content goes here</p>
      {{/ionItem}}

    {{/ionContent}}
  {{/ionView}}

</template>
 -->
